* {
  padding: 0;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #FAFAFA;
}

a, p, h1, h3 {
  font-family: Roboto, sans-serif;
}

.navbar {
  padding-bottom: 1rem;
  background: red;
}

.navbar .logo {
  width: 10rem;
  margin-left: 1rem;
  display: inline-block;
  margin-top: 0.5rem;
}

.navbar .menu li {
  list-style: none;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.navbar .menu li a {
  padding: 0.8px;
  border-radius: .2rem;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.12rem;
}

.menu {
  display: none;
}

.navbar-toggle {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: white;
}

.active {
  display: block;
}

header {
  background-image: url(../img/foto-capa-pizza.jpg);
  height: 50rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

h1 {
  width: 100%;
  background: red;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 2px 0 black;
}

section .pizzas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

section .pizzas img {
  width: 100%;
}

section .pizzas h3 {
  font-size: 1.5rem;
  background: red;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  text-shadow: 0 2px 0 black;
  max-width: 100%;
}

section .pizzas p {
  font-size: 1rem;
  max-width: 18rem;
  margin: 2rem auto;
}

section .pizzas a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  background: red;
  padding: 0.8rem;
  margin: 0.3rem;
  border-radius: 0.4rem;
}

footer {
  height: 1.5rem;
  color: white;
  background: red;
  font-size: 1rem;
  text-align: center;
}

@media only screen and (max-width: 860px) {
  section .pizzas p {
    max-width: 40rem;
  }
}

@media only screen and (min-width: 861px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 0;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu li {
    margin: 0;
  }
  .menu-links {
    margin-left: 40px;
  }
  .navbar li a:hover {
    color: black;
  }
  .navbar .logo {
    margin-top: 1rem;
    width: 7rem;
  }
  .navbar-toggle {
    display: none;
  }
  h1 {
    font-size: 2rem;
    height: 4rem;
    margin-bottom: 2rem;
  }
  #apresentacao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 80rem;
    margin-top: 1rem;
    text-align: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #apresentacao .pizzas {
    max-width: 26rem;
    height: 31rem;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    border-radius: 0.4rem;
  }
  #apresentacao .pizzas:hover {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  #apresentacao .pizzas img {
    max-width: 25rem;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
  }
  #apresentacao h3 {
    font-size: 1.5rem;
    width: 25rem;
    height: 3rem;
  }
  #apresentacao .pizzas p {
    height: 4rem;
  }
  #apresentacao .pizzas a {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 0;
  }
}
/*# sourceMappingURL=main.css.map */