$navbar-color: red;
$primary-text-color:white;

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

a, p, h1, h3 {
    font-family: Roboto, sans-serif;
}

.navbar{
    padding-bottom: 1rem;
    background: $navbar-color;

     .logo{
        width: 10rem;
        margin-left: 1rem;
        display: inline-block;
        margin-top: 0.5rem;

    }

    .menu li {
        list-style: none;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;   
        
        a{
            padding: 0.8px;
            border-radius: .2rem;
            text-decoration: none;
            font-size: 1rem;
            color: $primary-text-color; 
            font-weight: bold;
        }
}

}

.menu{
    display: none;
}

.navbar-toggle {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: $primary-text-color;
}

.active {
    display: block;
}





header{
    background-image: url(../img/foto-capa-pizza.jpg);
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

h1{
    width: 100%;
    background: $navbar-color;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-text-color;
    font-size: 2rem;
    text-align: center;
}


section .pizzas{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;  
    margin-bottom: 2rem;
    text-align: center;
    
    img{
        width: 100%;
    } 

    h3{
        font-size: 1.5rem;
        background: $navbar-color;
        width: 100vw;
        justify-content: center;
        display: flex;
        height: 3rem;
        align-items: center;
        color: $primary-text-color;
        text-align: center;
    }

    p{
        font-size: 1rem;
        max-width: 18rem;
        margin: 2rem auto;
    }

    a{
        font-size: 1rem;
        text-decoration: none;
        color: $primary-text-color;
        background: $navbar-color;
        padding: 0.8rem;
        margin: 0.3rem;
        border-radius: 0.4rem;

    }
}

@media only screen  and (max-width:860px) {
    section .pizzas p{
        max-width: 40rem;
    }
}

@media only screen and (min-width: 861px) {
    .navbar {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .menu{
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        li {
            margin: 0; 
            }
        
    }

    .menu-links{
        margin-left: 40px;
    }

    .navbar li a:hover{
        color: black;
    }
  
    .navbar .logo {
        margin-top: 1rem;
        width: 7rem;
    }
    .navbar-toggle {
        display: none;
    }

    h1{
        font-size: 2rem;
        height: 4rem;
    }

    #apresentacao{
        display: flex;
        flex-direction: row;
        align-items: top;        
        flex-wrap: wrap;
        max-width: 70rem;
        margin-top: 1rem;
        text-align: center;
        justify-content: space-evenly;

        .pizzas{
            max-width: 20rem;
            height: 35rem;     

            img {
                max-width: 20rem;
            }
        }

        h3 {
            font-size: 1.5rem;
            width: 20rem;
            height: 3rem;
        }

        .pizzas p{
            height: 9rem;
        }

        .pizzas a{
            justify-content: end;
            margin-top: 0;
        }

    }

}
        

